header.main 
  padding-right 3%
  padding-left 3%
  font-family "League Gothic", Helvetica, Arial, sans-serif
  font-size 1.66em
  a
    text-decoration none
    color $grey-dark
    &:visited
      color: $grey-dark
    &:hover
      color $grey-black
  .logo
    text-align center
  .btn-navbar
    display none
  .title
    font-family 'League Gothic', Helvetica, Arial, sans-serif
    h1
      font-size 1.8em
      text-transform uppercase
      color $grey-medium
      text-align center
    .tagline
      font-size 0.8em
      font-family 'Alegreya', Georgia, serif
      font-style italic
      font-weight 700
      color $metalic-medium
  nav.main
    font-family 'Alegreya', Georgia, serif
    font-style italic
    font-weight 700
    font-size 0.6em
    padding-bottom 3em
    ul
      text-align center
    li
      padding 0 0.33em
    #search
      float right
      label
        margin-right 0.33em
      input
        border 2px solid $light-black
        width 110px
