// League Gothic
@font-face
  font-family 'League Gothic'
  src url(fonts/leaguegothic-regular-webfont.eot)
  src url(fonts/leaguegothic-regular-webfont.eot?#iefix) format('eot'), url(fonts/leaguegothic-regular-webfont.woff) format('woff'), url(fonts/leaguegothic-regular-webfont.ttf) format('truetype'), url(fonts/leaguegothic-regular-webfont.svg#league_gothicregular) format('svg')
  font-style normal
  font-weight normal

.leaguegothic
  font-family 'League Gothic', 'Helvetica Neue', Arial, sans-serif

// Bebas Neue
@font-face
  font-family Bebas
  src url(fonts/BebasNeue-webfont.eot)
  src url(fonts/BebasNeue-webfont.eot?#iefix) format('eot'), url(fonts/BebasNeue-webfont.woff) format('woff'), url(fonts/BebasNeue-webfont.ttf) format('truetype'), url(fonts/BebasNeue-webfont.svg#BebasNeueRegular) format('svg')
  font-style normal
  font-weight normal

.bebas
  font-family "Bebas", Helvetica, Arial, sans-serif

// Lubalin Graph Book
@font-face
  font-family 'Lubalin Graph Book'
  src url(fonts/lubalin_graph_book_bt.eot)
  src url(fonts/lubalin_graph_book_bt.eot?#iefix) format('eot'), url(fonts/lubalin_graph_book_bt.woff) format('woff'), url(fonts/lubalin_graph_book_bt.ttf) format('truetype'), url(fonts/lubalin_graph_book_bt.svg#webfontregular) format('svg')
  font-style normal
  font-weight normal

.lubalin
  font-family 'Lubalin Graph Book', sans-serif
  em, i
    font-family 'Lubalin Graph Book Oblique'

.lubalin-oblique
  font-family 'Lubalin Graph Book Oblique'
.lubalin-demioblique
  font-family 'Lubalin Graph DemiOblique'

// Lubalin Graph Book Oblique
@font-face
  font-family 'Lubalin Graph Book Oblique'
  src url(fonts/lubalingraphstd-bookoblique.eot)
  src url(fonts/lubalingraphstd-bookoblique.eot?#iefix) format('eot'), url(fonts/lubalingraphstd-bookoblique.woff) format('woff'), url(fonts/lubalingraphstd-bookoblique.ttf) format('truetype'), url(fonts/lubalingraphstd-bookoblique.svg#itc_lubalin_graph_std_bookIt) format('svg')
  font-style normal
  font-weight normal

// Lubalin Graph DemiOblique
@font-face
  font-family 'Lubalin Graph DemiOblique'
  src url(fonts/lubalingraphstd-demioblique.eot)
  src url(fonts/lubalingraphstd-demioblique.eot?#iefix) format('eot'), url(fonts/lubalingraphstd-demioblique.woff) format('woff'), url(fonts/lubalingraphstd-demioblique.ttf) format('truetype'), url(fonts/lubalingraphstd-demioblique.svg#itc_lubalin_graph_std_booBdIt) format('svg')
  font-style normal
  font-weight normal

// Lubalin Graph DemiOblique
@font-face
  font-family 'Lubalin Graph DemCon'
  src url(fonts/lubalingraitctdemcon_oblique.eot)
  src url(fonts/lubalingraitctdemcon_oblique.eot?#iefix) format('eot'), url(fonts/lubalingraitctdemcon_oblique.woff) format('woff'), url(fonts/lubalingraitctdemcon_oblique.ttf) format('truetype'), url(fonts/lubalingraitctdemcon_oblique.svg#lubalingraitctdemconoblique) format('svg')
  font-style normal
  font-weight normal

.lubalin-demcon
  font-family 'Lubalin Graph DemCon'
