header.main 
  padding: 3% 3% 0
  font-family "League Gothic", Helvetica, Arial, sans-serif
  font-size 1.66em
  a
    text-decoration none
    color $light-black
    &:visited
      color: $light-black
  .logo
    float left
  .btn-navbar
    display none
  .title
    float right
    font-family 'League Gothic', Helvetica, Arial, sans-serif
    h1
      font-size 7em
      text-transform uppercase
    .tagline
      font-family 'Alegreya', Georgia, serif
      font-style italic
      font-weight 700
  nav#main_nav
    float right
    padding-top 75px
    ul
      list-style none
      float left
      margin 0
      padding 0
      padding-top 2px
    li 
      float left
    li.separator
      padding 0 0.33em
    #search
      float right
      label
        margin-right 0.33em
      input
        border 2px solid $light-black
        width 110px
