body
  font-family 'Alegreya', Georgia, serif
  font-size 1.12em

  color $metalic-dark

a
  color $grey-medium
  &:visited
    color $grey-medium
  &:hover
    color $grey-dark

strong
  font-weight 700

p
  padding 1em 0

.content
  p
    span
      font-weight 700
      font-style italic

.list
  li
    display inline

  h2
    font-style italic
    font-weight 700

.goup
  font-style italic
#up-first
  margin-top 5em
  margin-bottom 10em
  text-align center
  ul
    li
      display inline

#ghostbar,#joseluisrivas
  padding-top 7em
  min-height 700px
  h1
    font-weight 700
    font-style italic
    font-size 2.33em
