@media (max-width: 480px)
  .btn
    padding 0.33em 0.77em !important
    .icon
      height 22px !important
      width 28px !important
  .subheader
    .title
      font-size 0.44em !important
    .btn-next
      .icon-next
        background-position -175px 0 !important
    .btn-back
      .icon-back
        background-position -275px 0 !important
  .icon.taxonomy
    span
      width 90px
      height 40px
    .Aguardiente
      background-position 0px -160px
    .Cerveza
      background-position -100px -160px
    .Champagne
      background-position -200px -160px
    .Cigarrillos
      background-position -300px -160px
    .Combo
      background-position -400px -160px
    .Hielo
      background-position -500px -160px
    .Otros
      background-position -600px -160px
    .Refrescos
      background-position -700px -160px
    .Ron
      background-position 0px -205px
    .Snacks
      background-position -100px -205px
    .Vinos
      background-position -200px -205px
    .Vodka
      background-position -300px -205px
    .Whisky
      background-position -400px -205px
  .icon.taxonomy.pic
    span
      width 30px
      height 40px
  header
    #main_logo
      img
        max-height 2em
    .btn-navbar
      margin-top 0.66em
      padding 0.11em
      .btn-navbar-icon
        height 22px
        width 28px
        background-position -75px 0px
  #homething
    .roundabout-holder
      height 5em
      width 14em
    .roundabout-moveable-item
      height 6em
      width 10em

  // page-elige
  #elige
    min-height 320px
    .menu, .list-items
      display none
    #second-menu
      display block
      height 40px
      width 100%
      overflow auto
    .second-menu
      display block
      height 40px
      width 1170px
      overflow hidden
      ul
        li
          float left
    #second-list-items
      display block
      height 230px
      width 100%
      overflow auto
      border-radius 0.33em
      background white
    .second-list-items
      display block
      height 228px
      width 9999999px
      background white
      border-radius 0.33em
      overflow hidden
      ul
        list-style none
        margin 0
      .items
        height 100%
        overflow hidden
        .order-maker
          font-size 12px
        .jspArrow
          background url('/img/ke-sprite.png') no-repeat
          height 22px
          width 28px
        .jspArrowUp
          background-position -375px 0
        .jspArrowDown
          background-position -475px 0
        .jspArrowRight
          background-position -175px 0
        .jspArrowLeft
          background-position -275px 0
        .jspVerticalBar, .jspHorizontalBar
          background none
          margin 0.33em 1em 0.33em 0
          .jspCap
            display block
            height 2em
          .jspCapBottom 
            height 2.33em
        .jspTrack
          background $medium-gray
          border-radius 0.66em
          padding 0.22em
        .jspDrag
          background white
          border-radius 0.33em
      li
        @extend .bebas
        width 140px
        float left
        padding 1em
        margin 0.33em 0
        position relative
        border-radius 0.33em
        img
          max-height 10em
          max-width 100%
          text-align center
        &.selected
          background $background-gray
        .amount
          display none
          position absolute
          top 1em
          left 1em
          padding 0.66em
          background $light-black
          border-radius 1em
          color white
          z-index 3040
        .delete-order
          display none
          position absolute
          top 1em
          right 1em
          z-index 3040
      font-family 'Bebas'
      h1
        font-size 1em
      span.price
        font-size 2em
      span.bsf
        border-bottom 4px solid $light-black
        font-size 0.7em
        float left
        margin-top 4px
        line-height 1
      span.sinbsf
        font-size 0.8em
      span.price-multiplier
        font-size 2em
      input.howmuch
        display inline
        float right
        border-radius 0.33em
        font-size 2em
        border 1px solid #999
        width 2em

  // page-ordena
  #ordena
    height auto
    .extra-help, .dataform
      width 100%
      float none
    .extra-help
      .error-messages
        position relative
      img#operativity, > h1, > img.telf
        display none

  // page-espacio
  #espacio
    section
      h1
        font-size 1.33em
  .espacio
    section
      header
        h1
          font-size 1.66em

  // This is for footer.styl
  #totalizerModal
    width 95%
    max-height 80%
    top 10%
    left 2.5%
