@media (min-width: 1170px)
  .icon.taxonomy
    span
      width 135px
      height 60px
    .Aguardiente
      background-position 0px -260px
    .Cerveza
      background-position -140px -260px
    .Champagne
      background-position -280px -260px
    .Cigarrillos
      background-position -420px -260px
    .Combos
      background-position -560px -260px
    .Hielo
      background-position 0px -320px
    .Otros
      background-position -140px -320px
    .Refrescos
      background-position -280px -320px
    .Ron
      background-position -420px -320px
    .Snacks
      background-position -560px -320px
    .Vinos
      background-position 0px -380px
    .Vodka
      background-position -140px -380px
    .Whisky
      background-position -280px -380px
  .icon.taxonomy.pic
    span
      width 45px
      height 60px
