@media (max-width: 768px)
  footer
    #fb, #twt, #tel
      float none
      margin-left 0
      margin-right 0
      text-align center
  #empresa
    .profiles, article.main
      float none
      width 100% !important
    .index
      margin-left 10%
      width 90% !important
