@media (max-width: 950px)
  .subheader
    display block !important
    .title
      float left !important
      font-size 0.66em !important
    .btn
      display block !important
      float right !important
      .icon
        display block !important
        height 30px
        width 36px
    .btn-next
      .icon-next
        background-position -125px 0 !important
    .btn-back
      .icon-back
        background-position  -225px 0 !important

  .icon.taxonomy
    span
      width 135px
      height 60px
    .Aguardiente
      background-position 0px -260px
    .Cerveza
      background-position -140px -260px
    .Champagne
      background-position -280px -260px
    .Cigarrillos
      background-position -420px -260px
    .Combo
      background-position -560px -260px
    .Hielo
      background-position 0px -320px
    .Otros
      background-position -140px -320px
    .Refrescos
      background-position -280px -320px
    .Ron
      background-position -420px -320px
    .Snacks
      background-position -560px -320px
    .Vinos
      background-position 0px -380px
    .Vodka
      background-position -140px -380px
    .Whisky
      background-position -280px -380px
  .icon.taxonomy.pic
    span
      width 45px
      height 60px

  header
    #main_logo
      max-width 75%
      img
        max-height 15%
    .btn-navbar
      margin-top 2%
      float right
      display block
      padding 5px
      border-radius 0.33em
      box-shadow 0.11em 0.11em 0.55em $light-gray
      .btn-navbar-icon
        display block
        height 30px
        width 36px
        background transparent url('/img/ke-sprite.png') no-repeat
        background-position 0px 0px
    nav#main_nav
      padding-top 0
      ul
        float none
      li
        float none
      li.separator
        display none
      #search
        float none
      .nav-collapse
        float right
        overflow hidden
        height 0

  footer
    height auto
    position relative
    #warning-note
      display none
    #totalizer
      width 100%

  .gcontainer
    margin-top 1%
    padding-bottom 2%
  #homething
    height 70%
    .mini-container
      position relative
      //overflow hidden
      height 100%
    .roundabout-holder
      height 18em
      width 22em
    .roundabout-moveable-item
      height 15em
      width 15em

  // page-elige
  #elige
    min-height 27em
    > .imgcaption.twocol, > .onecol.last
      display none
    .menu
      width 25%
      min-height 18em
    > .list-items
      margin-right 0
      width 72%
      height 88%
      min-height 20em
  // page-ordena
  #ordena
    > .imgcaption.twocol, > .onecol.last
      display none
  // page-espacio
  #espacio, .espacio
    .social, > .twocol
      display none
    > .sixcol
      width 100%
