.icon.taxonomy
  background none
  span
    display block
    width 90px
    height 40px
    background transparent url('/img/ke-sprite.png') no-repeat
  img
    display none
  .Aguardiente
    background-position 0px -160px
  .Cerveza
    background-position -100px -160px
  .Champagne
    background-position -200px -160px
  .Cigarrillos
    background-position -300px -160px
  .Combo
    background-position -400px -160px
  .Hielo
    background-position -500px -160px
  .Otros
    background-position -600px -160px
  .Refrescos
    background-position -700px -160px
  .Ron
    background-position 0px -205px
  .Snacks
    background-position -100px -205px
  .Vinos
    background-position -200px -205px
  .Vodka
    background-position -300px -205px
  .Whisky
    background-position -400px -205px
.icon.taxonomy.pic
  span
    width 30px
    height 40px
